.Landing {
    background-image: url('../../Assets/Img/Landing.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.info {
    margin: 4vh 4vh 0 auto;
    width: 50%;
    height: max-content;
}

@font-face {
    font-family: Thalia;
    src: url('../../Assets/Fonts/Thalia.otf');
}

.bienvenido {
    margin: 0;
    font-size: 18vh;
    font-family: Thalia;
}

.logo {
    width: 60%;
    filter: brightness(99%);
}

@font-face {
    font-family: Boyz;
    src: url('../../Assets/Fonts/BoyzRGrossNF.ttf');
}

.seguridad {
    color: rgb(88, 24, 69);
    margin: 0;
    font-family: Boyz;
    font-size: 8vh;
}

.divBoton {
    height: 20vh;
}

@font-face {
    font-family: olivers;
    src: url('../../Assets/Fonts/olivers\ barney.otf');
}

.boton {
    background-color: black;
    color: white;
    font-family: olivers;
    font-size: 2.5em;
    -webkit-text-stroke: 2.5px black;
    width: max-content;
    margin: 8vh auto;
    padding: 0 8px;
    border-radius: 8px;
    user-select: none;

    &:hover {
        cursor: pointer;
        color: yellow;
    }
}