.ContNav{
    width: 100%;
    position: absolute;
    display: flex;
    height: 9vh;
    z-index: 1;
}

.Nav{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.06);
    width: 98%;
    height: 6vh;
    display: flex;
}

.h2{
    user-select: none;
    margin: auto;
    color: white;
    font-family: papyrus;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}